* {
    box-sizing: border-box;
}

body {
    background-image: url('https://img.freepik.com/premium-vector/abstract-simple-dot-pattern-design-decoration-background_121035-35.jpg?w=2000');
    background-repeat: repeat;
    background-size: 10px;
    font-family: 'Bubbler One';
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
}

nav {
    display: none;
}

nav ul {
    padding: 0px;
    position: fixed;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.close-btn {
    font-size: 2rem;
}

.hamburger-icon {
    position: absolute;
    top: 3%;
    left: 2%;
    padding: 0;
    border: none;
    color: transparent;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.hamburger-icon:hover {
    transform: scale(1.1);
}

.title img {
    width: 5%;
    height: 60%;
    margin: 0.5rem;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-recipe {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipe-img {
    background-color: rgb(237, 235, 229);
    border: 4px solid rgb(107, 107, 107);
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.23);
    border-radius: 5%;
    height: 60vh;
    width: 30%;
    margin: 1rem 3rem;
    padding: 1rem 0.02rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recipe-img p {
    font-size: 1.3rem;
    text-shadow: 1px 1px 0px #757575;
}

.recipe-img img {
    width: 60%;
    filter: blur(10px);
}

.challenge-instruction {
    padding: 2rem;
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.challenge-instruction h2 {
    font-size: 2rem;
    margin: 0;
}

.challenge-instruction h3 {
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 0;
}

.challenge-btn {
    font-size: 1.2rem;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.23);;
}

.recipe-display {
    position: relative;
    height: 100vh;
    top: 20%;
    width: 40%;
    display: none;
    flex-direction: column;
}

.recipe-name {
    margin: 0;
    font-size: 1.4rem;
}

.recipe-display h5 {
    font-size: 1.2rem;
}

.ingredients {
    margin: 0;
}

.sauce {
    margin: 0;
}

.instructions {
    margin: 0
}

.all-recipes {
    display: none;
    margin: 5rem;
    flex-direction: column;
    font-size: 1.3rem;
}

.about {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1.5rem 10rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

footer div {
    font-size: 1.5rem;
}